<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Newton</string>
	<key>category</key>
	<string>Format</string>
	<key>command</key>
	<string>#!/usr/bin/python
#coding=utf-8
import urllib2, urllib
import json
import sys
reload(sys)
sys.setdefaultencoding('utf-8')
sql = sys.stdin.read()
params = {'sql': sql, 'reindent': 1, 'keyword_case': 'upper', 'identifier_case': 'lower'}
response = urllib2.urlopen('https://sqlformat.org/api/v1/format', data=urllib.urlencode(params))
data = json.loads(response.read())
print data['result']</string>
	<key>contact</key>
	<string>zpvthh@tznvy.pbz</string>
	<key>defaultBundleWasModified</key>
	<true/>
	<key>description</key>
	<string>Format SQL via sqlformat.org API</string>
	<key>input</key>
	<string>selectedtext</string>
	<key>input_fallback</key>
	<string>currentquery</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Format SQL</string>
	<key>output</key>
	<string>replaceselection</string>
	<key>scope</key>
	<string>inputfield</string>
	<key>tooltip</key>
	<string>Format SQL Python</string>
	<key>uuid</key>
	<string>4DAB0A8A-5062-47BC-8ECF-E0838180A183</string>
</dict>
</plist>
